{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <br>
    <h1>
        Art Events
    </h1>
      <div
      style="display: flex; flex-wrap: wrap; justify-content: space-around;"
    >
      <div style="padding: 25px">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmp1Sfg6g8KjzjC9oleaccOA0s-a-7DfLQsLmbSLdSHA&s"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      <div style="padding: 25px">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://d3t95n9c6zzriw.cloudfront.net/homepage/hybrid-2021/hp-toptile2-03132023-large.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      <div style="padding: 25px">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://cdn.pixabay.com/photo/2017/08/30/12/45/girl-2696947__480.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      </div>
    {% endblock %}