{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <h1>
        Comedy Events
    </h1>
      <div
      style="display: flex; flex-wrap: wrap; justify-content: space-around;"
    >
      <div style="padding: 25px">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://assets-in.bmscdn.com/nmcms/events/banner/desktop/media-desktop-gaurav-kapoor-live-0-2022-6-17-t-9-39-43.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      <div style="padding: 25px">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://assets-in.bmscdn.com/nmcms/events/banner/desktop/media-desktop-oh-hello-by-rahul-dua-live-in-mumbai-0-2023-3-9-t-5-35-27.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      <div style="padding: 25px">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://assets-in.bmscdn.com/nmcms/events/banner/desktop/media-desktop-with-love-jaspreet-a-standup-solo-0-2022-7-29-t-4-44-8.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      </div>
    
  {% endblock %}