{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container" style="margin-top: 50px;">
        <h1>Event Details</h1>
    <form class="row g-3">
        <div class="col-md-4">
            <label for="inputAddress" class="form-label">Admin Username</label>

            <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
            <div class="input-group">
              <div class="input-group-text">@</div>
              <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username">
            </div>
          </div>
        <div class="col-md-4">
            <label for="inputAddress" class="form-label">Event</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
        <div class="col-md-4">
            <label for="inputAddress" class="form-label">Artist</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">Date</label>
          <input type="date" class="form-control" id="inputCity">
        </div>
        <div class="col-md-6">
            <label for="inputAddress" class="form-label">Duration</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
        <div class="col-md-6">
            <label for="inputAddress" class="form-label">Tickets</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
        <div class="col-md-6">
            <label for="inputAddress" class="form-label">photos</label>
            <input type="file" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
          <div class="col-12">
            <label for="inputAddress" class="form-label">Location</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">City</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
{% endblock %}