{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <h1>
        Sport Events
    </h1>
      <div
      style="display: flex; flex-wrap: wrap; justify-content: space-around;"
    >
      <div style="padding: 25px">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1Qwo21hJoiLNrs5OZF_QFXEPEZ0jvwM69Ew&usqp=CAU"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      <div style="padding: 25px">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://sport.ec.europa.eu/sites/default/files/styles/eac_ratio_16_9_xl/public/2022-06/Swimmer-1200x675.jpg?h=c74750f6&itok=mhIW5QkK"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      <div style="padding: 25px">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Football_in_Bloomington%2C_Indiana%2C_1996.jpg/1200px-Football_in_Bloomington%2C_Indiana%2C_1996.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
      </div>
      </div>
      {% endblock %}